<!DOCTYPE HTML>
<html  lang="es">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Base{% endblock %}
        </title>
        <link rel="stylesheet" href="/static/css/mycss.css">
    </head>

    <body>
        <div id="header">
            <a href="/static/images/logo.png" class="logo"></a>
            <a href="/help/" class="help">Help</a>
        </div>


        <div id="subheader">
            {% block form_block %}{% endblock %}
        </div>


        <div id="content">

            <div class="pure-g" xmlns:find="http://www.w3.org/1999/xhtml">

                {% block side_block %}{% endblock %}

                {% block main_block %}{% endblock %}

            </div> <!-- Grid -->

        </div>

        <footer id="footer" class="footerStyle">
            Adrian Fernandez, Ricardo Riol
        </footer>

    </body>


</html>
