<!DOCTYPE HTML>
<html  lang="es">
    <head>
        <meta charset="UTF-8">
        <title>
            Data - {% block title %}Base{% endblock %}
        </title>
        <link rel="stylesheet" href="/static/css/mycss.css">
    </head>

    <body>
        <div id="header">
            <a href="/static/images/logo.png" class="logo"></a>
            <a href="/help/" class="help">Help</a>
        </div>


        <div id="subheader">
            <div class="search">
                <form action="/workflow_search/" method="post">
                    Search Workflow <input type="text" name="key" maxlength="128">
                    <input type="submit" name="byName" value="by Name">
                </form>
               </div>
        </div>


        <div id="content">
        
            <div class="pure-g" xmlns:find="http://www.w3.org/1999/xhtml">

                {% block side_block %}{% endblock %}
                
                {% block main_block %}{% endblock %}
                
            </div> <!-- Grid -->

        </div>

        <footer id="footer" class="footerStyle">
            Adrián Fernández, Ricardo Riol
        </footer>
    
    </body>


</html>

