{% extends 'data/base.html' %}

{% load staticfiles %}

{% block title %}Detail{% endblock %}

{% block form_block %}
    {% if form %}
        <div class="search">
            <form action="{% url 'workflow_search' %}" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="byName">
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block side_block %}
    {% if result %}
        <div id="sidebar" class="pure-u-2-5">
            <scipion-workflow src="/workflow_download_json/{{ workflow.id }}/{{ workflow.slug }}/" height="400px" width="95%"></scipion-workflow>
            <img src="{% static "images/carlosIII.jpeg" %}" alt="Picture of Carlos III" />
        </div>
    {% endif %}
{% endblock %}

{% block main_block %}

    {% if msg %}
        <h1>{{ msg }}</h1>
    {% endif %}

    <div id="main" class="pure-u-3-5">

        {% if result %}

            <h1>{{ workflow.name }}</h1>

            <h2>
                {% for cat in categories %}
                    <a href="{% url 'workflow_list_by_category' cat.slug %}">{{ cat.name }}</a>
                {% endfor %}
            </h2>

            <span style="font-weight:bold"> KeyWords: </span> {{ workflow.keywords }}<p></p>

            <span style="font-weight:bold"> Description: </span> {{ workflow.description }}<p></p>

            <form action="/workflow_download/{{ workflow.id }}/{{ workflow.slug }}/" method="post">
                {% csrf_token %} 
               <input type="submit" value="Download" >
            </form>


        {% else %}
            <p><strong>No results</strong></p>
        {% endif %}

    </div>
{% endblock %}
