{% extends 'data/base.html' %}

{% load staticfiles %}

{% block title %}Workflows{% endblock %}

{% block side_block %}
	<h3>Categories</h3>
    <ul>
        <li class="selected">
            <a href="/workflow_list/">All</a>
        </li>

        {% if categories %}
            {% for category in categories %}
                <li>
                    <a title="tooltip_ {{ category.name }}" href="/workflow_list/{{ category.slug }}">{{ category.name }}</a>
                </li>
            {% endfor %}

        {% else %}
            <p><stong>There are no categories present</stong></p>
        {% endif %}

    <h3>
        <a href="/add_workflow/"> Upload workflow </a>
    </h3>

{% endblock %}

{% block main_block %}

    <h1>Workflows</h1>

    {% if found %}

        {% if category %}
            <h1>{{ category.name }}</h1>
        {% else %}
            <h1>Workflows</h1> 
        {% endif %}    

        {% for workflow in workflows %}
            <div class="item"><p>
                <a href="/workflow_detail/{{ workflow.id }}/{{ workflow.slug }}"> {{ workflow.name }}</a>:
                {{ workflow.json }}</p>
            </div>
        {% endfor %}

    {% else %}
        <p><strong> {{ error }}</strong></p>  
    {% endif %}

    <div id="pagination">
        <ul>
            <li class="disabled"><span>«</span></li>

            <li class="active"><span>1 <span class="sr-only">(current),</span></span></li>

            <li><a href="?page=2">2,</a></li>

            <li><a href="?page=2">»</a></li>

        </ul>
  </div>

{% endblock %}