{% extends 'data/base.html' %}

{% load staticfiles %}

{% block title %}List{% endblock %}

{% block form_block %}
    {% if form %}
        <div class="search">
            <form action="{% url 'workflow_search' %}" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="key" value="Search by name">
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block side_block %}

    <div id="sidebar" class="pure-u-1-5">
    	<h3>Categories</h3>
        <ul>
            <li class="selected">
                <a href="{% url 'workflow_list' %}">All</a>
            </li>

            {% if categories %}
                {% for cat in categories %}
                    <li>
                        <a title="tooltip_{{ cat.name }}" href="{% url 'workflow_list_by_category' cat.slug %}">{{ cat.name }}</a>
                    </li>
                {% endfor %}

            {% else %}
                <p><stong>There are no categories present</stong></p>
            {% endif %}

        <h3>
            <a href="/add_workflow/"> Upload workflow </a>
        </h3>
    </div>

{% endblock %}

{% block main_block %}

    <div id="main" class="workflow-list pure-u-4-5">

        {% if result %}

            {% if category %}
                <h1>{{ category.name }}</h1>
            {% else %}
                <h1>Workflows</h1>
            {% endif %}

                {% for workflow in workflows %}
                    <div class="item"><p>
                        <a href="{% url 'workflow_detail' workflow.id workflow.slug %}">{{ workflow.name }}</a>:
                        {{ workflow.description|truncatechars:255 }}</p>
                    </div>
                {% endfor %}

        {% else %}
            <p><strong> {{ error }}</strong></p>
        {% endif %}

        <div id="pagination">
            <ul>
                <li class="disabled"><span>:</span></li>

                <li class="active"><span>1 <span class="sr-only">(current),</span></span></li>

                <li><a href="?page=2">2,</a></li>

                <li><a href="?page=2">:</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
